$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

html, body { height: 100%; overflow: hidden; }

.browsehappy
{
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body
{
    //padding-top: 20px;
    //padding-bottom: 20px;
}

#app, .appContainer { height: 100%; }

.mainContent
{
    height: calc(100% - 80px);
    margin-top: 60px;
}

.fullHeightContainer { height: 100%; }

.header,
footer
{
    padding-left: 15px;
    padding-right: 15px;
}

.navbar
{
    background-color: #FFFFFF;
}

.header
{
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3
    {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

footer
{
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

@mixin fullWidth
{
    width: 100%;
}

.fullWidth
{
    @include fullWidth();
}

.storyEditorFormContainer
{
    input
    {
        @include fullWidth();
    }

    textarea
    {
        @include fullWidth();
        height: 300px;
    }
}

.storyEditorMapContainer
{
    height: 600px;
}



/*
 * Lists
 */
.storiesListContainer, .proviersListContainer, .channelsListContainer
{
    ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li
    {
        font: 200 12px/1.5 Helvetica, Verdana, sans-serif;
        border-bottom: 1px solid #ccc;
    }

    li:last-child
    {
        border: none;
    }

    li a
    {
        text-decoration: none;
        color: #000;
        display: block;
        width: 200px;

        -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
        -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
        -o-transition: font-size 0.3s ease, background-color 0.3s ease;
        -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
        transition: font-size 0.3s ease, background-color 0.3s ease;
    }

    li a:hover
    {
        background: #f6f6f6;
        color: #000;
        text-decoration: none;
    }
}

.storiesControllerContainer
{
    h2
    {
        a
        {
            font-size: 14px;
        }
    }
}