body
{
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.storyEditorComponentContainer
{
    margin-left: 50px;
}

.storyEditorComponentContainer > form
{
    width: 40%;
    float: left;
}

.storyEditorMapContainer
{
    width: 60%;
    margin-left: 40%;
}